<h2>CAISSE</h2>
<p>Date et heure</p>
<form action="" method="post">
    <input type="text" name="code" placeholder="Code Produit"/>
    <input type="text" name="quantite" placeholder="Quantité"/>
    <input type="submit" value="Valider"/>
</form>
<br/>
<table> 
    <tr>
        <th>Code</th>
        <th>Designation</th>
        <th>PrixUnitaire</th>
        <th>Remise</th>
        <th>Montant</th>
    </tr>
    <tr>
        <td>001</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td colspan="4" border="0"></td>
        <td border="0">Total</td>
        <td>...</td>
    </tr>
</table>
<a href="">Valider achat</a>